
*{
    margin: 0px;
    padding: 0px;

} 

@font-face{
    src: url('../fonts/Helvetica-Bold.ttf');
    font-family: Helvetica-Bold;
}

@font-face{
    src: url('../fonts/Helvetica.ttf');
    font-family: Helvetica;
}

.facebook-header{
    background: linear-gradient(#4D68A1, #3B5998);
    overflow: hidden;
    padding: 10px 0px 3px;
    border-bottom: 1px solid #133783;
}

.facebook-header .container{
    width: 1200px;
    margin: auto;
}
.facebook-header .container .logo-area .logo{
    height: 35px;
    width: 170px;
    background-image: url(../img/3knSmS0yD-3.png);
    
    background-position: 0px 52px;

}

.facebook-header .container .logo-area{
    width: 60%;
    float: left;
    margin-top: 14px;
}

.facebook-header .container .login-area{
    width: 40%;
    float: left;
}

.login1 input, .login2 input{
    display: block;
    padding: 3px 4px;
    border: 1px solid #1d2a5b;
    margin: 5px 0px 0px;

}

.login1 input, .login2 input:focus{
    outline: 0;
}

.login1, .login2, .login3{
    float: left;
    margin-right: 10px;
}

.login1 label, .login2 label{
    font-family: Helvetica;
    font-size: 12px;
    color: #FFF;
}

.login2 a {
    font-family: Helvetica;
    font-size: 12px;
    text-decoration: none;
    color: #9cb4d8;
}

.login2 a:hover{
    text-decoration: underline;
}

.login3 input{
    font-size: 12px;
    cursor: pointer;
    color: #FFF;
    font-family: Helvetica-Bold;
    background-color: #4267b2;
    border: 1px solid #29487d;
    padding:3px 4px;
    margin-top:24px ;
    transition: .3s;
    
}

.login3 input:hover{
    background-color: #365899;
    border-color: #29487d;
}

.main-content{
    background: linear-gradient(#FEFEFF, #D4D8E8);
    overflow: hidden;
    height: 100vh;
}
.main-content .container{
    width: 1200px;
    margin: auto;
}

.main-content .container .content-left{
    width: 58%;
    float: left;
}

.main-content .container .content-left h2{
    
    font-family: Helvetica-Bold;
    font-size: 20px;
    color: #0e385f;
    font-weight: normal;
    margin-top: 40px;
    width: 70%;
    line-height: 30px;
}


.main-content .container .content-right{
    width: 42%;
    float: left;
}

.main-content .container .content-right h2{
    font-size: 36px;
    color: #333333;
    font-family: Helvetica-Bold;
    font-weight: normal;
    margin-top: 22px;
}

.main-content .container .content-right h3{
    font-size: 19px;
    color: #1d2129;
    font-family: Helvetica;
    font-weight: normal;
    margin: 6px 0px 20px;
}

.main-content .container .content-right .user-reg input{
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    padding: 8px 10px;
    border: 1px solid #ccd0d5;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: Helvetica;
}

.main-content .container .content-right .user-reg input:nth-child(1){
    width: 49%;
}

.main-content .container .content-right .user-reg input:nth-child(2){
    width: 49%;
    float: right;
}

.main-content .container .content-right .user-reg input:focus{
    outline: 0;
}
.main-content .container .content-right .birthday{
    overflow: hidden;
}
.main-content .container .content-right .birthday h4{
    font-family: Helvetica;
    font-weight: normal;
    font-style: 18px;
    color: #1d2129;
    margin-top: 5px;
    margin-bottom: 8px;

} 

.main-content .container .content-right .birthday select{
    padding: 5px;
    font-size: 13px;
    border: 1px solid #ccd0d5 ;
}

.main-content .container .content-right .birthday select{
    float: left;
}

.main-content .container .content-right .birthday select:focus{
    outline: 0;
}

.main-content .container .content-right .birthday a{
    font-family: Helvetica;
    color: #385898;
    font-size: 11px;
    line-height: 10px;
    text-decoration: none;
    margin-left:5px;
    display: block;
    width: 150px;
    float: left;
    margin-top: 5px;
}
.main-content .container .content-right .birthday a:hover{
    text-decoration: underline;
}

.main-content .container .content-right .gender{
    margin: 20px 10px;
    font-family: Helvetica;
}

.main-content .container .content-right .gender label{
   font-size: 18px;
   line-height: 22px;
   color: #1d2129;
   vertical-align: top;
   margin-right: 20px;
}
.main-content .container .content-right .gender input{
    margin-right: 6px;
 }
 

.main-content .container .content-right .gender p{
    margin: 20px 0px;
    font-size: 11px;
    width: 316px;
    color: #777;
    line-height: 15px;
}

.main-content .container .content-right .gender a{
    text-decoration: none;
    color: #385898;

}

.main-content .container .content-right .gender a:hover{
    text-decoration: underline;
}

.main-content .container .content-right .signup-button p{
    margin: 10px 10px;
    font-size: 13px;
    color: #666;
    font-family: tahoma;
    font-weight: bold;
}

.main-content .container .content-right .signup-button p a{
    text-decoration: none;
    color: #385898;
}

.main-content .container .content-right .signup-button a:hover{
    text-decoration: underline;
}

.main-content .container .content-right .signup-button input{
    background: linear-gradient(#67ae55, #578843);
    border-color:#3b6e22 #3b6e22 #2c5115;
    border-width:1px;
    border-style: solid;
    box-shadow: inset 0 1px 1px #a4e388;
    color: #FFF;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    font-size: 19px;
    padding: 8px 50px;
    border-radius: 5px;
    cursor: pointer;
}

.main-content .container .content-right .signup-button input:hover{
    background:  linear-gradient(#79bc64, #578843);
}
